a.navbar-brand {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav.navbar > div.container-fluid, main > div.container, div#search-box {
    max-width: 1320px;
}

div#search-box > div {
    margin-bottom: 12px;
    padding: 24px;

    background-image: url(/static/img/searchbox_background.jpg);
    border-radius: 8px;
}

header {
    user-select: none;
}

p {
    margin-bottom: 8px;
}
