#article-title {
    margin-bottom: 8px;
    display: flex;
    gap: 4px;
}

.article-example p {
    margin: 0;
}

.article-example > .article-example-be {
    margin-bottom: 8px;
}

div#article-body {
    font-size: 14pt;
}

/* region Dict */
div.dict-m1 {
    padding-left: 0px;
}

div.dict-m2 {
    padding-left: 16px;
}

div.dict-3 {
    padding-left: 32px;
}

span.dict-i {
    font-style: italic;
}

span.dict-e {
    color: var(--bs-secondary);
}

span.dict-p {
    color: var(--bs-success);
    font-style: italic;
}

span.dict-c {
    color: var(--bs-success);
}

span.dict-b {
    font-weight: bold;
}
/* endregion */
