[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
dj-database-url = "*"
djangorestframework = "*"
python-dotenv = "*"
a2wsgi = "*"
channels = "*"
django-nextjs = "*"
nh3 = "*"
pypinyin = "*"
martor = "*"
requests = "*"
django = "==4.2"
django-cachalot = "*"
django-redis = "*"
django-haystack = "*"
whoosh = "*"
nltk = "*"
lemmatizer-be = ">=1.6.4"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.12"

[scripts]
pydev = "python -m uvicorn belkit.asgi:application --reload"
nextdev = "cd frontend/nextjs && npm run dev"
nextprod = "cd frontend/nextjs && npm run start"
reindex = "python manage.py rebuild_index --noinput -v 2"
