div.section-martor div.ui.bottom.attached.tab.segment.active {
    padding: 0;
}

div.section-martor div.martor-preview {
    color: black;
    padding-top: 20px !important;
}

span.text-label {
    color: green;
}

span.text-example {
    color: gray;
}