{% extends "frontend/base.html" %}
{% load static %}

{% block title %}{{article.title}}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
{% endblock %}

{% block main %}
<h1 id="article-title">{{article.title}}</h1>

{% if article.translation_direction == "KB" %}
    <h3 id="article-pinyin">{{pinyin}}</h3>
{% endif %}

<p>{{article.body | safe}}</p>

{% if examples %}
<h3>Яшчэ па гэтым запыце:</h3>
    <ol>
    {% for similar_article in similar_articles %}
        {% if similar_article.title != article.title %}
        <li>
            <a href="/article/{{similar_article.title}}/">{{similar_article.title}}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ol>
{% endif %}

{% if examples %}
<h3>Прыклады:</h3>
    {% for example in examples %}
    <div class="article-example">
        <p class="article-example-cn">{{example.cn | safe}}</p>
        <p class="article-example-be">{{example.be | safe}}</p>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
